<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Software EVA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<nav class="navbar bg-secondary text-white p-2">
    <h5>Software EVA</h5>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table mt-5">
                <thead>
                <tr>
                    <th scope="col">ID da Porta</th>
                    <th scope="col">Ambiente Principal</th>
                    <th scope="col">Ambiente Conectado</th>
                    <th scope="col">Largura</th>
                </tr>
                </thead>
                <tbody>
                {% for portas in portas %}
                        <tr>
                            <th scope="row">{{ portas.id }}</th>
                            <td>{{ portas.conexao.ambienteAnterior  }}</td>
                            <td>{{ portas.conexao.ambientePosterior }}</td>
                            <td>{{ portas.largura }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
