<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Software EVA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<nav class="navbar bg-secondary text-white p-2">
    <h5>Software EVA</h5>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="POST">
                {% csrf_token %}
                <h6 class="mt-4">Ambiente:</h6>
                {% for ambientePosterior in ambientePosterior %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                               value="option1" name="displayAmbiente">
                        <label class="form-check-label" for="inlineCheckbox1">{{ ambientePosterior.nome }}
                            - {{ ambientePosterior.id }}</label>
                    </div>
                {% endfor %}
                <h6>Conectado a:</h6>
                {% for ambientePosterior in ambientePosterior %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                               value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">{{ ambientePosterior.nome }}
                            - {{ ambientePosterior.id }}</label>
                    </div>
                {% endfor %}
                <div>
                    <label for="exampleFormControlInput1" class="form-label mt-3">Nome Identificador da
                        Porta</label>
                    <input type="name" class="form-control" id="nomeEstabelecimento">
                    <label for="exampleFormControlInput1" class="form-label mt-3">Largura da Porta</label>
                    <input type="number" class="form-control" id="nomeEstabelecimento" {{ formP.largura }}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Escada
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                               checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Rampa
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Confirmar</button>
                    <button type="submit" name="Próxima página" class="btn btn-primary mt-4"><a href="/eva/mostrarportas"
                                                                                                style="text-decoration: none; color:white">Próxima
                        Página</a></button>

                </div>
            </form>
        </div>
</body>
</html>
