<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Software EVA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
<nav class="navbar bg-secondary text-white p-2">
    <h5>Software EVA</h5>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <form class="main mt-4" method="POST">
                {% csrf_token %}
                <input type="name" class="form-control" id="nomeEstabelecimento"
                       placeholder="Nome do Estabelecimento">
                <label for="exampleFormControlInput1" class="form-label mt-3">Número Máximo de Pessoas
                    Permitido:</label>
                <input type="number" class="form-control" id="maxPessoas">

                <small id="emailHelp" class="form-text text-muted">Se você não souber iremos calcular o número
                    ideal
                    para você.</small>
                <hr class="border-2 border-top border-dark">
                <h5>Adicionar ambientes:</h5>
                {{ formA.nome.errors }}
                <input type="name" class="form-control" id="nomeEstabelecimento"
                       placeholder="Nome do Ambiente" {{ formA.nome }}
                {{ formA.metrosQuadrados.errors }}
                <label for="exampleFormControlInput1" class="form-label mt-3">Metros Quadrados</label>

                <input type="number" class="form-control" id="metrosQuadrados" {{ formA.metrosQuadrados }}
                <label for="exampleFormControlInput1" class="form-label mt-3">Populacao</label>

                <input type="number" class="form-control" id="metrosQuadrados" {{ formP.populacao }}
                <button type="submit" name="Cadastrar" class="btn btn-primary mt-3">Adicionar Ambiente</button>
                <button type="submit" name="Próxima página" class="btn btn-primary mt-3"><a href="/eva/portas"
                                                                                            style="text-decoration: none; color:white">Próxima
                    Página</a></button>

                <hr class="border-2 mt-3 border-top border-dark">
            </form>


        </div>
    </div>
</div>

</body>

</html>